body{
    margin: 0;
    padding: 0;
}
header {
    background-color: #194d43;
    font-family:sans-serif;
    height: 500px;
    position:relative;

}
header nav {
    display: flex;
    justify-content: space-between;

}
header nav a{
    text-decoration: none;
}

header ul li:hover{
    opacity: 50%;
}

header nav ul {
    display:block;
    margin: auto;
    text-decoration: none;

}

header nav img {
    margin-left: 10em;
    margin-top: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 2em;
    color: #f1f1f1;
    margin-top: 20px;
}

header h1 {
    text-align: center;
    color: #f1f1f1;
    font-size: 52px;
    margin: 0;
    line-height: 300px;
}


header nav .ouvrircompte {
    border-radius:15px;
    outline: 2px solid white;
    margin:auto;
    padding: 10px 15px;
    text-decoration: none;
    color: #f1f1f1;
    margin-top: 20px;
    font-weight: bolder;
    margin-left: 30px;
   
}

/* cards container */

body section {
    display: flex;
    justify-content: center;
}

section .compte{
    width: 400px;
    height: 500px;
    border-radius: 17px 17px 15px 15px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgb(29 35 41 / 15%);
    position: relative;
    bottom: 80px;
    text-align: center;
    
}

section .compte p {
    color: #194d43;
    font-weight: bolder;
    font-size: 50px;
    margin: 0;
    display: inline-block;
}

section .compte h2{
    margin: 0;
}
.compte a {
    display: block;
    width: 80%;
    background-color: #137763;
    margin: auto;
    border-radius: 40px;
    padding: 15px 10px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bolder;
}

section .compte:nth-child(2){
    
    margin-left: 20px;
}
section .compte:nth-child(3){
    margin-left: 20px;
}



section .compte img{
    width:100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
   
}


.infocarte {
    background-color: #c7e6fb ;
    position: absolute;
   right: 10px;
   top: 240px;
   border-radius: 5px;
   padding: 8px 5px;

}

.open{
    background-color: #c7e6fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 25px;
    margin-top: 15px;
}

.open h3{
    color:#194d43;
    font-size: 50px;
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

.open img{
    width: 10%;
    margin-top: 20px;
}

.open p {
    margin: 0;
    margin-top: 20px;
    color: #194d43;
    font-weight: bolder;
}

.open a {
    display: block;
    width: 15%;
    background-color: #137763;
    margin: auto;
    border-radius: 40px;
    padding: 15px 10px;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bolder;
    text-align: center;
    
}

.open span{
    color: #194d43;
    margin-top: 20px;
}

/* responsive part*/

@media screen and (max-width: 428px) {
    
header{
    display: flex;
    flex-direction: column;
    align-items: center;


}

header h1 {
    font-size: 25px;
}

header nav img {
    margin-left: 0;
}

header nav ul{
    margin: 0;
    margin-top: 30px;
}

header nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav ul li{
    display: block;
    margin: auto;
    margin-top: 5px;
}

header nav  ul .ouvrircompte{
    display:block;
    margin: auto;
    margin-top: 30px;

    
}
body section{
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}

section .compte{
    display: block;
    margin: auto;
}

.open a {
    display: block;
    width: 50%;
    background-color: #137763;
    margin: auto;
    border-radius: 40px;
    margin-top: 30px;}

.open img{
    width : 40%;
};

}

@media screen and (max-width: 390px) {

      header{
        width: 100%;

    } 

  body{
    position: relative;
  }

  .open{
    position: absolute;
    top: 96%;
  }

section .compte{
    display: block;
    margin: 0;
    margin: auto;
    margin-top: 15px;
    width: 100%;
} 

section .compte:nth-child(2){
    display: block;
    margin-left: 0;
}
   
section .compte:nth-child(3){
    display: block;
    margin-left: 0;
}
   


section .compte img{
    width: 100%;
} 

}